html {
    height: 100%;
}

body {
    height: 100%;
}

.block {
    /*border: 1px solid black;*/
    min-height: 600px;
}

.block.title {
    min-height: 600px;
    height: 100%;
    background-image: url('http://mattfarley.ca/assets/images/hero-bg.jpg');
}

.block.title:before {
    min-height: 600px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-color: #9175bd;
    opacity: .7;
}

#title-block {
    background-attachment: scroll;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*
/
/ skeleton
/
*/

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box
}

.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box
}

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0
    }
}

@media (min-width: 550px) {
    .container {
        width: 80%
    }

    .column, .columns {
        margin-left: 4%
    }

    .column:first-child, .columns:first-child {
        margin-left: 0
    }

    .one.column, .one.columns {
        width: 4.66666666667%
    }

    .two.columns {
        width: 13.3333333333%
    }

    .three.columns {
        width: 22%
    }

    .four.columns {
        width: 30.6666666667%
    }

    .five.columns {
        width: 39.3333333333%
    }

    .six.columns {
        width: 48%
    }

    .seven.columns {
        width: 56.6666666667%
    }

    .eight.columns {
        width: 65.3333333333%
    }

    .nine.columns {
        width: 74%
    }

    .ten.columns {
        width: 82.6666666667%
    }

    .eleven.columns {
        width: 91.3333333333%
    }

    .twelve.columns {
        width: 100%;
        margin-left: 0
    }

    .one-third.column {
        width: 30.6666666667%
    }

    .two-thirds.column {
        width: 65.3333333333%
    }

    .one-half.column {
        width: 48%
    }

    .offset-by-one.column, .offset-by-one.columns {
        margin-left: 8.66666666667%
    }

    .offset-by-two.column, .offset-by-two.columns {
        margin-left: 17.3333333333%
    }

    .offset-by-three.column, .offset-by-three.columns {
        margin-left: 26%
    }

    .offset-by-four.column, .offset-by-four.columns {
        margin-left: 34.6666666667%
    }

    .offset-by-five.column, .offset-by-five.columns {
        margin-left: 43.3333333333%
    }

    .offset-by-six.column, .offset-by-six.columns {
        margin-left: 52%
    }

    .offset-by-seven.column, .offset-by-seven.columns {
        margin-left: 60.6666666667%
    }

    .offset-by-eight.column, .offset-by-eight.columns {
        margin-left: 69.3333333333%
    }

    .offset-by-nine.column, .offset-by-nine.columns {
        margin-left: 78%
    }

    .offset-by-ten.column, .offset-by-ten.columns {
        margin-left: 86.6666666667%
    }

    .offset-by-eleven.column, .offset-by-eleven.columns {
        margin-left: 95.3333333333%
    }

    .offset-by-one-third.column, .offset-by-one-third.columns {
        margin-left: 34.6666666667%
    }

    .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%
    }

    .offset-by-one-half.column, .offset-by-one-half.columns {
        margin-left: 52%
    }
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -.1rem
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem
}

h3 {
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: -.1rem
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0
}

@media (min-width: 550px) {
    h1 {
        font-size: 5rem
    }

    h2 {
        font-size: 4.2rem
    }

    h3 {
        font-size: 3.6rem
    }

    h4 {
        font-size: 3rem
    }

    h5 {
        font-size: 2.4rem
    }

    h6 {
        font-size: 1.5rem
    }
}

p {
    margin-top: 0
}

a {
    color: #1EAEDB
}

a:hover {
    color: #0FA0CE
}

.button, button, input[type=button], input[type=reset], input[type=submit] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box
}

.button:focus, .button:hover, button:focus, button:hover, input[type=button]:focus, input[type=button]:hover, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:focus, input[type=submit]:hover {
    color: #333;
    border-color: #888;
    outline: 0
}

.button.button-primary, button.button-primary, input[type=button].button-primary, input[type=reset].button-primary, input[type=submit].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0
}

.button.button-primary:focus, .button.button-primary:hover, button.button-primary:focus, button.button-primary:hover, input[type=button].button-primary:focus, input[type=button].button-primary:hover, input[type=reset].button-primary:focus, input[type=reset].button-primary:hover, input[type=submit].button-primary:focus, input[type=submit].button-primary:hover {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB
}

input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box
}

input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px
}

input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus, select:focus, textarea:focus {
    border: 1px solid #33C3F0;
    outline: 0
}

label, legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600
}

fieldset {
    padding: 0;
    border-width: 0
}

input[type=checkbox], input[type=radio] {
    display: inline
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 400
}

ul {
    list-style: circle inside
}

ol {
    list-style: decimal inside
}

ol, ul {
    padding-left: 0;
    margin-top: 0
}

ol ol, ol ul, ul ol, ul ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%
}

li {
    margin-bottom: 1rem
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}

td, th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1
}

td:first-child, th:first-child {
    padding-left: 0
}

td:last-child, th:last-child {
    padding-right: 0
}

.button, button {
    margin-bottom: 1rem
}

fieldset, input, select, textarea {
    margin-bottom: 1.5rem
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
    margin-bottom: 2.5rem
}

.u-full-width {
    width: 100%;
    box-sizing: border-box
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box
}

.u-pull-right {
    float: right
}

.u-pull-left {
    float: left
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1
}

.container:after, .row:after, .u-cf {
    content: "";
    display: table;
    clear: both
}

/*
/
/ main
/
*/

.container {
    max-width: 1140px
}

body {
    font-size: 1.4rem;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #93a4aa
}

@media screen and (min-width: 550px) {
    body {
        font-size: 1.5em
    }
}

.black {
    color: #364347
}

.gunmetal {
    color: #524e4d
}

.gray {
    color: #93a4aa
}

.purple {
    color: #a88cd5
}

.white {
    color: #fff
}

.divider {
    width: 60px;
    height: 4px;
    background-color: #a88cd5;
    margin: 32px auto
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #364347
}

p.intro {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 700;
    text-align: center;
    border-top: 7px solid;
    border-bottom: 7px solid;
}

@media screen and (min-width: 750px) {
    p.intro {
        font-size: 3.2rem;
    }
}

p.statement {
    font-size: 1.6rem;
    text-align: center
}

@media screen and (min-width: 750px) {
    p.statement {
        font-size: 2rem
    }
}

a {
    color: #a88cd5;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

a:hover {
    color: #9175bd
}

section {
    padding: 0 0 50px
}

@media screen and (min-width: 550px) {
    section {
        padding: 0 0 65px
    }
}

@media screen and (min-width: 750px) {
    section {
        padding: 0 0 80px
    }
}

@media screen and (min-width: 1000px) {
    section {
        padding: 0 0 100px
    }
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: transparent;
    z-index: 99
}

.navbar a.logo img {
    float: left;
    display: block;
    position: relative;
    width: 60px;
    height: auto;
    margin-top: 20px
}

.navbar nav.navigation {
    float: right;
    margin-top: 3px;
    display: block;
    padding: 0;
    background: 0 0
}

.navbar nav > ul {
    list-style: none
}

.navbar nav > ul > li {
    font-family: Montserrat, sans-serif;
    float: left;
    margin: 30px 0 20px
}

.navbar nav > ul > li > a.nav-link {
    display: block;
    text-decoration: none;
    float: left;
    padding: 10px 20px;
    color: rgba(255, 255, 255, .7);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px
}

.navbar nav > ul > li > a.button {
    margin-left: 10px;
    color: rgba(255, 255, 255, .7);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .7)
}

.navbar nav > ul > li > a.button:hover {
    border-color: #fff;
    color: #fff
}

.navbar nav > ul > li > a:hover {
    color: #fff
}

footer {
    padding: 40px 0;
    background-color: #364347;
    color: #fff;
    text-align: center
}

footer a.logo {
    position: relative;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 34px;
    height: 38px;
    text-indent: -99999px;
    opacity: .75;
    margin: 0 auto
}

@media screen and (min-width: 750px) {
    footer a.logo {
        width: 40px;
        height: 45px
    }
}

footer p.made-by-me {
    margin: 24px 0;
    color: rgba(255, 255, 255, .4);
    font-size: 1.3rem;
    line-height: 1.8
}

footer .made-by-me a {
    color: rgba(255, 255, 255, .4);
    text-decoration: none
}

footer .social-links a {
    display: inline-block;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    margin: 0 6px;
    padding: 4px 12px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

footer .social-links a:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, .3)
}

#fullscreen-hero {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 350px;
    background-attachment: scroll;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

#halfscreen-hero {
    position: relative;
    min-height: 350px;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-attachment: scroll;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

#fullscreen-hero:after, #fullscreen-hero:before, #halfscreen-hero:after, #halfscreen-hero:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%
}

.home-hero {
    position: relative;
    background-image: url('http://mattfarley.ca/assets/images/hero-bg.jpg')
}

.home-hero:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-color: #9175bd;
    opacity: .7
}

.hero-container {
    display: table;
    margin: 0 auto;
    padding: 0 40px;
    height: 100%
}

.hero-content {
    display: table-cell;
    position: relative;
    z-index: 10;
    text-align: center;
    vertical-align: middle
}

.home-logo img {
    top: 2.5%;
    display: inline-block;
    left: 50%;
    width: 50px;
    height: auto;
    padding: 20px;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
    text-decoration: none;
    opacity: .7;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media screen and (min-width: 750px) {
    .home-logo img {
        width: 65px
    }
}

@media screen and (min-width: 1000px) {
    .home-logo img {
        width: 80px
    }
}

.hero-content h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0
}

.hero-content span.subtitle {
    color: #fff;
}

.hero-content span.subtitle a {
    color: #B5DAFF;
}


@media screen and (min-width: 750px) {
    .hero-content h1 {
        font-size: 2rem
    }
}

@media screen and (min-width: 1000px) {
    .hero-content h1 {
        font-size: 3rem
    }
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0
}

.cd-words-wrapper b.is-visible {
    position: relative
}

.no-js .cd-words-wrapper b {
    opacity: 0
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden
}

.cd-headline.type .cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite
}

.cd-headline.type .cd-words-wrapper.selected {
    background-color: #93a4aa
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #364347
}

.cd-headline.type b {
    visibility: hidden
}

.cd-headline.type b.is-visible {
    visibility: visible;
    font-style: normal
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
    font-style: normal
}

.cd-headline.type i.in {
    position: relative;
    visibility: visible;
    font-style: normal
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

.hero-content a.button-ghost-white {
    margin-top: 4.4rem
}

.home-cta {
    bottom: 2.5%;
    color: rgba(255, 255, 255, .7);
    display: inline-block;
    font-size: 15px;
    left: 50%;
    padding: 20px;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
    text-decoration: none;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.home-cta:hover {
    color: rgba(255, 255, 255, .9)
}

@media screen and (min-width: 750px) {
    .home-cta {
        font-size: 1.8rem
    }
}

section#me {
    background-color: #fff;
    text-align: center;
    margin: 0 auto
}

#me .expertise-block {
    margin: 4rem 0 1rem
}

@media screen and (min-width: 750px) {
    #me .expertise-block {
        margin: 4rem 0 0
    }
}

#me .expertise-block img {
    width: auto;
    height: 14rem;
    max-width: 100%
}

#me i.fa {
    font-size: 5rem
}

#me .expertise-block h4.title {
    margin: 1.8rem 0
}

#me .expertise-block p {
    margin-bottom: 0;
    line-height: 1.8;
    font-size: 1.4rem
}

#work {
    background-color: #f5f5f5
}

#work .container {
    max-width: 960px
}

#work p.statement {
    margin-bottom: 0
}

#work .six.columns {
    margin-left: 0
}

.project-showcase {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #d6e1e5;
    padding: 50px 0 0
}

@media screen and (min-width: 750px) {
    .project-showcase {
        padding: 80px 0 20px
    }
}

.project-showcase .project-content {
    text-align: center;
    margin: 2em 0
}

@media screen and (min-width: 550px) {
    .project-showcase .project-content {
        text-align: left
    }
}

@media screen and (min-width: 750px) {
    .project-showcase .project-content {
        margin: 0
    }
}

.project-showcase img.project-image {
    position: relative;
    width: 100%
}

@media screen and (min-width: 750px) {
    .project-showcase .project-content.text-left {
        padding-right: 7rem
    }

    .project-showcase .project-content.text-right {
        padding-left: 7rem
    }
}

.project-showcase .project-content .project-title {
    font-size: 1.45em;
    font-weight: 700;
    margin-bottom: 0
}

@media screen and (min-width: 1000px) {
    .project-showcase .project-content .project-title {
        font-size: 2.8rem
    }
}

.project-showcase .project-content .project-description {
    margin: 15px 0 28px;
    line-height: 1.6;
    font-size: 1.4rem
}

.project-showcase .project-content .project-tags {
    color: #b2c6cd;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1;
    text-transform: uppercase
}

.project-showcase .project-content .project-tags:before {
    content: "\2022";
    margin-right: 4px;
    color: #a88cd5;
    font-size: 1.8rem
}

.project-showcase .project-content .project-tags li {
    display: inline
}

.project-showcase .project-content .project-tags li:last-child:after {
    content: ""
}

.project-showcase .project-content .project-tags li:after {
    content: ","
}

.project-showcase a.button {
    margin: 10px 0 20px
}

@media screen and (min-width: 750px) {
    .project-showcase a.button {
        margin: 10px 0 60px
    }
}

.project-testimonial {
    text-align: center;
    padding: 3em 0;
    border-bottom: solid 1px #d6e1e5
}

.project-testimonial:last-child {
    border-bottom: 0
}

@media screen and (min-width: 750px) {
    .project-testimonial {
        padding: 4em 0
    }
}

.project-testimonial blockquote {
    font-size: 1.6rem;
    line-height: 1.4;
    max-width: 30em;
    margin: 0 auto 1.2em
}

@media screen and (min-width: 550px) {
    .project-testimonial blockquote {
        font-size: 2.1rem
    }
}

.project-testimonial-avatar {
    display: inline-block;
    border-radius: 50%;
    background: #eee;
    height: 50px;
    overflow: hidden;
    width: 50px;
    vertical-align: middle
}

.project-testimonial-avatar img {
    width: 100%
}

@media screen and (min-width: 750px) {
    .project-testimonial-avatar {
        height: 70px;
        width: 70px
    }
}

@media screen and (min-width: 550px) {
    .project-testimonial-avatar {
        margin-bottom: 0
    }
}

.project-testimonial-name {
    color: #93a4aa;
    display: inline-block;
    font-size: 1em;
    margin-left: .6em
}

section#wip {
    background: #fff;
    text-align: center
}

#wip img {
    margin: 4rem 0 1.5rem;
    border-radius: 6px;
    width: 90%;
    height: auto
}

@media screen and (min-width: 750px) {
    #wip img {
        margin: 4rem 0 1rem
    }
}

#wip p.description {
    margin: 1rem 0
}

#wip a.button.button-ghost-purple {
    margin: 2rem 0 0
}

section#action {
    background-color: #5e696d;
    text-align: center;
    margin: 0 auto
}

#action a.button {
    margin: 2.4rem 0 0;
    padding: 1.6rem 3.6rem
}

#action a.button:hover {
    padding: 1.6rem 4.4rem
}

.button, button, input[type=button], input[type=reset], input[type=submit] {
    height: auto;
    padding: 1.2rem 3.2rem;
    font-size: 1.3rem;
    line-height: normal;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    letter-spacing: .1rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #999;
    color: #999
}

.button:focus, .button:hover, button:focus, button:hover, input[type=button]:focus, input[type=button]:hover, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:focus, input[type=submit]:hover {
    color: #505051;
    border-color: #505051;
    outline: 0;
    padding: 1.2rem 4rem
}

.button.button-primary, button.button-primary, input[type=button].button-primary, input[type=reset].button-primary, input[type=submit].button-primary {
    color: #fff;
    background-color: #a88cd5;
    border: 0
}

.button.button-primary:focus, .button.button-primary:hover, button.button-primary:focus, button.button-primary:hover, input[type=button].button-primary:focus, input[type=button].button-primary:hover, input[type=reset].button-primary:focus, input[type=reset].button-primary:hover, input[type=submit].button-primary:focus, input[type=submit].button-primary:hover {
    color: #fff;
    background-color: #9175bd;
    border-color: #9175bd
}

.button-ghost-purple {
    color: #9175bd;
    border: 3px solid #9175bd;
    padding: .9rem 2.9rem
}

.button-ghost-purple:hover {
    color: #fff;
    border-color: #9175bd;
    background-color: #9175bd;
    padding: .9rem 3.7rem
}

.button-ghost-white {
    color: #fff;
    border-color: #fff;
    margin: 2.4rem 0 0;
    padding: 12px 32px;
    font-size: 1.4rem
}

.button-ghost-white:hover {
    color: #505051;
    background-color: #fff;
    border-color: #fff;
    padding: 12px 40px
}