---
layout: default
---

<div class="posts">
    {% for post in paginator.posts %}
    <article class="post" data-url="{{ site.baseurl }}{{ post.url }}" data-pinned="{{ post.pinned }}">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
            {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Далее...</a>
    </article>
    {% endfor %}
</div>

<div class="pagination">
    <div>
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
            <i class="fas fa-2x fa-chevron-circle-left"></i>
        </a>
        {% else %}
        <span class="previous">
        <i class="fas fa-2x fa-chevron-circle-left"></i>
    </span>
        {% endif %}
        <span class="page_number ">
    Страница: {{ paginator.page }} из {{ paginator.total_pages }}
  </span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">
            <i class="fas fa-2x fa-chevron-circle-right"></i>
        </a>
        {% else %}
        <i class="fas fa-2x fa-chevron-circle-right"></i>
        {% endif %}
    </div>
</div>
