h1 {
    font-size: 1.75em;
    margin: 0 0 0.6em 0;
}

p {
    line-height: 1.5em;
}

.small {
    color: #666;
    font-size: 0.875em;
}

.large {
    font-size: 1.25em;
}

.container {
    margin: 45px;
}